<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th>
    </th>
  </tr>

  
  
  <tr>
    <% User.all.each %>
    <td>
    </td>
    <% end %>
  </tr>

</table>